.jumbotron
{
	background: url('img/pulse.png') no-repeat center center;
	background-position: 50% 30%;
	background-size: cover;
	background-repeat: no-repeat;
	color:  #dddddd;
}

.navbar {
    margin-bottom: 0;
    background-color: #eeeeee;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.95;
}
