body {
		width: 70%
		font: 400 15px Lato, sans-serif;
		line-height: 1.8;
		color: #818181;
}
h2 {
		font-size: 24px;
		text-transform: uppercase;
		color: #303030;
		font-weight: 600;
		margin-bottom: 30px;
}
h4 {
		font-size: 19px;
		line-height: 1.375em;
		color: #303030;
		font-weight: 400;
		margin-bottom: 30px;
}

.navbar {
    margin-bottom: 0;
    background-color: #eeeeee;
    border: 0;
    letter-spacing: 4px;
    opacity:0.90;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
		color: #f4511e !important;
		background-color: #ccc !important;
}
.navbar-default .navbar-toggle {
		border-color: transparent;
		color: #fff !important;
}

.jumbotron {
		background-color: #f4511e;
		color: #fff;
		padding: 100px 25px;
		font-family: Montserrat, sans-serif;
}
.container-fluid {
		padding: 60px 50px;
}
.bg-grey {
		background-color: #f6f6f6;
}
.logo-small {
		color: #f4511e;
		font-size: 50px;
}
.logo {
		color: #f4511e;
		font-size: 200px;
}
.altPanel{
	background-color: #ccc
}
footer .glyphicon {
		font-size: 20px;
		margin-bottom: 20px;
		color: #f4511e;
}
@media screen and (max-width: 768px) {
	.col-sm-4 {
		text-align: center;
		margin: 25px 0;
	}
	.btn-lg {
			width: 100%;
			margin-bottom: 35px;
	}
}
@media screen and (max-width: 480px) {
	.logo {
			font-size: 150px;
	}
}
